<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AJAX</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>

<script>
    function sendGreeting() {
        $.ajax({
            type: 'GET',
            url: 'http://localhost:8080/chapter_008_war/greet',
            data: 'name=' + $('#exampleInputEmail1').val(),
            dataType: 'text'
        }).done(function(data) {
            console.log(data)
            alert(data);
        }).fail(function(err){
            console.log(err)
            alert("err");
        });
    }
</script>
<script>
    function sendf() {
        $.ajax({
            url: 'http://localhost:8080/chapter_008_war/greet',         /* Куда пойдет запрос */
            method: 'get',             /* Метод передачи (post или get) */
            dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
            data: {name: 'Текст'},     /* Параметры передаваемые в запросе. */
            success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
                alert(data);            /* В переменной data содержится ответ от index.php. */
            }
        }).done(function () {
            alert("done")
        }).fail(function () {
            alert("msg")
        })
    }
</script>

<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="button" class="btn btn-primary" onclick="sendf()">Submit</button>
    </form>
</div>
</body>
</html>