<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AJAX</title>
</head>
<body onload="getCity()">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>

<script>
    function getCity() {
        $.ajax({
            type: 'GET',
            url: 'http://localhost:8080/chapter_008_war/city',
            dataType: 'json'
        }).done(function(data) {
            html = "";
             for(var key in data) {
                html += "<option value=" + key  + ">" +data[key] + "</option>"
             }
             document.getElementById("city").innerHTML = html;
            console.log(data)
        }).fail(function(err){
            console.log(err)
            alert("err");
        });
    }
</script>

<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="button" class="btn btn-primary" >Submit</button>
    </form>
</div>


<div>
    <p id="test2"> This is another paragraph.</p>
</div>

<p></p>
<select name="city" id="city">
</select>
</body>
</html>